@import url('https://fonts.googleapis.com/css?family=Dosis');
//@import url("../bower_components/components-font-awesome/scss/font-awesome.scss");

@font-face {
    font-family: "Dosis-bold";
    src: url("../font/Dosis-Bold.tff");
}

@font-face{
    font-family:"Dosis-Light";
    src: url("../font/Dosis-Light.tff");
}
@font-face{
    font-family:"Dosis-ExtraLight";
    src: url("../font/Dosis-ExtraLight.tff");
}

//VARIABLES
$default:       #000;
$darkbrown:     #3E3D2D;
$default_color: #FFF;
$yellow_color:  #FFE600;
$gray0_color:   #E2E2E2;
$gray1_color:   #E8E8E8;
$gray2_color:   #F4F4F4;
$gray3_color:   #D5D5D5;
$gray4_color:   #BFBFBF;
$gray5_color:   #EAEAEA;
$gray6_color:   #838383;
$gray7_color:   #E1E1E1;

$default_font: 'Dosis-bold', sans-serif;
$default_font: 'Dosis-Light', sans-serif;
$default_font: 'Dosis', sans-serif;
//MIXINS

@mixin nopadding {
  padding: 0;
}
@mixin button ($color, $text){
  color: $text;
  text-transform: capitalize;
  background-color: $color;
  padding: 0 30px;
  border: 0;
  border-radius: 4px;
  height: 48px;
  &:hover{
    box-shadow: 0px 4px 10px 0px rgba(199, 199, 199, 0.5);
  }
}
@mixin small_button ($color, $text){
  color: $text;
  text-transform: uppercase;
  background-color: $color;
  padding: 0 6px;
  margin-top: 11px;
  height: 26px;
  border-radius: 4px;
  border: 0;
  &:hover{
    box-shadow: 0px 4px 10px 0px rgba(199, 199, 199, 0.5);
  }
}
@mixin sec_sh {
  padding-top: 70px;
  padding-right: 15px;
  padding-bottom: 90px;
  padding-left: 15px;
  margin: 0 auto;
}

@mixin img_card($link){
    height: 70px;
    width: 70px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url($link);
}

//GRID
$colMax: 12;
//#col-*
@for $i from 1 through $colMax {
    .col-#{$i}{
        width: percentage($i)/$colMax;
        float: left;
        padding: 0 15px;
    }
}
//#col-offset-*
@for $j from 1 through $colMax{
    .col-offset-#{$j}{
        margin-left: percentage($j)/$colMax;
    }
}
.container-fluid {
    &:before{
        display: table;
        margin: 15px;
    }
}
.row {
    &:before,&:after{
        display: table;
        content:'';
    }
    &:after{
        clear: both;
    }
}
.col-home{
  width: 93%;
  padding: 0 15px;
  margin: 0 auto;
}
.center-block{
    margin: 0 auto;
}
.center-text{
    text-align: center;
}
.shield{
    width: 1200px;
    padding:{
        top: 75px;
        bottom: 90px;
    }
    margin: 0 auto;
}
.shieldhome{
    padding-top: 182px;
    padding-bottom: 130px;
    display: table;
    margin: 0 auto;
}
.shieldfooter{
    margin: 0 auto;
    width: 1200px;
    padding:{
        top: 45px;
        bottom: 45px;
    }
}
//CLASS
html,body{
  padding: 0;
  margin:  0;
  width: 100%;
  height: 100%;
}
body {
  display: flex;
}
*, *::before, *::after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, ul, p, a{
    //margin: 0;
    //padding: 0;
    list-style: none;
    text-decoration: none;
}
p{
    line-height: 1.5;
    color: $gray6_color;
    font-size: 1.125em;
}
button{
  border: none;
}
.uppadding{
    padding: 20px;
}
body{
  font-family: $default_font;
  color: #3E3D2D;
}
.welcome{
  background-image: url('../image/geometry_grey.png');
    h1{
        margin: 0;
        padding: 0;
        color: $darkbrown;
        font-size: 4em;
        letter-spacing: -3px;
    }
    .btn_wel{
        @include button($yellow_color, $default);
    }
}
a{
  color: black;
}
.container_card{
    padding: 0 15px;
    width:  25%;
    float: right;
}
.card{
    display: block;
    width: 99%;
    height: 340px;
    background: white;
    &:hover{
      box-shadow: 0px 4px 10px 0px rgba(199, 199, 199, 0.5);
    }
}
.illustration{
    padding-top: 50px;
    background-color: $gray0_color;
    height: 50%;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: $gray3_color;
        }
    .picture{
        margin: 0 auto;
      @include img_card('../image/Bus.png');
    }
}
.description{
    padding: 10px 15px;
    h4{
        font-size: 18px;
        color: $darkbrown;
    }
    height: calc(100% - 50% - 50px);
}
.more{
    border-top: 1px solid $gray5_color;
    height: 50px;
    padding: 0 15px;
    position: relative;
    span{

    }
    .small_button{
        font-family: $default_font;
        position:absolute;
        top: 0;
        right: 15px;
        @include small_button($yellow_color, $default);
        &:hover{

          cursor: pointer;
        }
    }
}
.banner{
    .container{
      max-height: 54px;
      padding: 16.5px 0;
      background-color: $gray1_color;
      .box{
        text-align: center;
        .fa-exclamation-circle{
          &:before{
            font-family: "FontAwesome";
            color: black;
            margin-right: 10px;
          }
        }
        i{
            line-height: 58px;
            margin: 0;
            text-align: center;
            font-size: 14px;
            font: normal normal normal 14px/1 Dosis;
            //width: 100%;
            /*&:before{
                content: '\f06a';
                font-family: "fontAwesome";
                position: absolute;
                right: 0;
            }*/
            a{
              border-bottom: 1px dashed #000;
            }
        }
      }
    }
}
.what{
  background-color: white;

}
.newsletter{
  background-color: $yellow_color;
  h3{
    font-size: 1.5em;
  }
  p{
    font-size: 1.1em;
    margin-top: 18px;
    margin-bottom: 30px;
  }
  form{
    height: auto;
    display: table;
    margin-top: 30px;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
      .block_input{
          padding: 0 15px;
          margin-top: 30px;
          input[type="email"],input[type="text"]{
              width: 100%;
              height: 40px;
              padding: 0 12px;
              border-radius: 4px;
              border: 0;
              text-transform: capitalize;
              &:placeholder{
                  color: $gray6_color;
              }
          }
          input[type="submit"]{
              float: right;
              color: $default;
              text-transform: uppercase;
              background-color: $default_color;
              padding: 0 30px;
              border: 0;
              border-radius: 4px;
              height: 40px;
          }
      }
  }
}
.data{
    .intro{
      padding: 0 170px;
    }
  //background-color: $yellow_color;
    .dat{
        .box{
            background: $gray2_color;
            border-radius: 4px;
            height: auto;
            padding: 15px 15px 30px 15px;
            .pic{
              text-align: center;
              height: 150px;
              line-height: 150px;
              img{
                transform: scale(0.5);
                background-repeat: no-repeat;
                background-size: contain;
              }
            }
            .desc{
                margin{
                    top: 15px;
                    bottom: 30px;
                    right: 15px;
                    left: 15px;
                }
                p,h4{
                    margin-top: 0;
                    margin-bottom: 15px;
                }
                button{
                    border: none;
                    border-radius: 4px;
                    padding: 5px 15px;
                    background-color: $gray7_color;
                }
            }
        }
    }
}
.categories{
  background-color: $gray2_color;
  .container_card{
    float: left;
  }
}
.finalcontact{
    p{
      padding: 0px 174px;
      margin-bottom: 30px;
      color: #838383;
      font-size: 1.125em
    }
    button{
        display: block;
        @include button($gray4_color, $default);
        font-size: 1.0em;
        font-weight: bold;
    }
}
footer{
  background-color: $gray2_color;
  h3{
    font-size: 1.125em;
  }
  p{
    font-size: 16px;
    color: $darkbrown;
  }
  ul{
    padding: 0;
    li{
      a{
        font-size: 16px;
        color: $darkbrown;
      }
    }
  }
}
.nav{
    display: inline-block;
    width: 100%;
    .button_menu{
        display: block;
        float: left;
        margin-top: 40px;
        margin-left: 10px;
        margin: 40px 20px 20px 30px;
        padding: 0;
        background: transparent;
        cursor: pointer;
        transition: 0.3s;
        span{
            display: block;
            background-color: black;
            height: 3px;
            width: 24px;
            margin-bottom: 4px;
        }
    }
    .search{
        display: block;
        float: left;
        margin-top: 37px;
        button{
          font-size: 16px;
          padding-left: 3px;
          background-color: transparent;
        }
        input[type="search"]{
            height: 20px;
            font-size: 16px;
            border: none;
            background: transparent;
        }
    }
    .user{
        text-transform: capitalize;
        font-size: 16px;
        display: inline-block;
        line-height: 40px;
        float: right;
        margin-top: 24px;
        margin-right: 25px;
        a{
            color: $darkbrown;
            display: inline-block;
            line-height: 48px;
            &:nth-child(2){
                text-transform: uppercase!important;
                margin-left: 30px;
                @include button($yellow_color, $default);
            }
        }
    }
}
.menu-right{
  position: fixed;
  top: 90px;
  right: -350px;
  transition: right 300ms;
  width: 350px;
  height: auto;
  background-color: white;
  padding: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 4px 10px 0px rgba(199, 199, 199, 0.5);
  .min_box{
    display: block;
    position: absolute;
    top: 10px;
    right: 350px;
    height: 40px;
    width: 40px;
    background-color: #FFE600;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 8px;
    i{
      color: white;
      margin-left: 4px;
    }
  }
  .container_feedback{
    h2{
      margin-top: 0;
      text-transform: capitalize;
    }
    p{
      font-size: 16px;
      color: $darkbrown;
    }
    .feedback{
      label{
        color: $gray6_color;
        display: block;
        margin:15px 0 8px 0;
        font-size: 16px;
        text-transform: capitalize;
      }
      textarea,input[type="email"], input[type="text"]{
        width: 100%;
        background-color: $gray0_color;
        border: 0;
        height: 35px;
        padding: 11px;
        border-radius: 5px;
      }
      textarea{
        height: 150px;
      }
    }
  }
}
.menu-left{
  position: relative;
  height: 100%;
  width: 320px;
  background-color: white;
  padding: 14px 20px;
  margin-left: -320px;
  transition: margin-left 300ms;
  .container_menu_sidebar{
    h1{
      color: #C7C7C7;
      font-size: 3rem;
      letter-spacing: -3;
      margin-top: 0;
      &:after{
        letter-spacing: 0;
        margin-top: 10px;
        margin-left: 10px;
        content:'beta';
        color: $gray6_color;
        font-size: 12px;
        text-transform: uppercase;
        position:absolute;
      }
    }
    button{
      float: right;
      font-size: 25px;
      position: absolute;
      right: 40px;
      top: 34px;
      padding: 0;
      background-color: transparent;
    }
    .container_item{
      ul{
        padding: 0;
        display: block;
        .bold{
          font-weight: bold;
          font-size: 20px;
          text-transform: capitalize;
        }
        a{
          display: block;
          //background-color: yellow;
          line-height: 34px;
          width: 100%;
          &:not(.bold){
            font-size: 17px;
          }
          i{
            float: right;
            line-height: 34px;
          }
          span{
            background-color: $yellow_color;
            float: right;
            font-size: 12px;
            font-weight: 400;
            padding-top: 0;
            line-height: 19px;
            border-radius: 5px;
            width: 40px;
            text-align: center;
            margin-top: 8px;
          }
        }
      }
    }
  }
}
.picture_u{
  background-image: url('../image/Policesirene.png');
  margin: 0 auto;
  height: 70px;
  width: 70px;
  background-repeat: no-repeat;
  background-size: contain;
}
.picture_m{
  background-image: url('../image/Shop.png');
  margin: 0 auto;
  height: 70px;
  width: 70px;
  background-repeat: no-repeat;
  background-size: contain;
}
.picture_l{
  background-image: url('../image/Poinpin.png');
  margin: 0 auto;
  height: 70px;
  width: 70px;
  background-repeat: no-repeat;
  background-size: contain;
}
.picture_g{
  background-image: url('../image/Cityhalll.png');
  margin: 0 auto;
  height: 70px;
  width: 70px;
  background-repeat: no-repeat;
  background-size: contain;
}

.title p{
  margin-bottom: 30px
}

.menu-left.opened {
  margin-left: 0px;
}

.menu-right.opened {
  right: 0;
}
.home {
  max-width: 100%;
  width: 100%;
}
